<div class="row">
    <div class="col-md-12">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Adverity Advertising Data ETL-V</h1>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
            
        </div>
    </div>
</div>
<div class="row" *ngIf="isAuthenticated()">
    <div class="col-md-6">
           <!--  <ngx-charts-line-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                [timeline]="timeline"
                (select)="onSelect($event)">
            </ngx-charts-line-chart> -->
            <ngx-chartjs [data]="data" [options]="options" type="line" *ngIf="data.labels.length > 0"></ngx-chartjs>
    </div>
    <div class="col-md-4">
        <tag-input [ngModel]="modelDatasources" [secondaryPlaceholder]="'Add datasources'"
                       [onlyFromAutocomplete]="true">
                <tag-input-dropdown [showDropdownIfEmpty]="true"
                                    [focusFirstElement]="true"
                                    [displayBy]="'value'"
                                    [identifyBy]="'id'"
                                    [autocompleteItems]="autocompleteDatasources">
                    <ng-template let-item="item" let-index="index">
                        {{ item.value }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
        <tag-input [ngModel]="modelCampaigns" [secondaryPlaceholder]="'Add campaigns'"
                       [onlyFromAutocomplete]="true">
                <tag-input-dropdown [showDropdownIfEmpty]="true"
                                    [focusFirstElement]="true"
                                    [displayBy]="'value'"
                                    [identifyBy]="'id'"
                                    [autocompleteItems]="autocompleteCampaigns">
                    <ng-template let-item="item" let-index="index">
                        {{ item.value }}
                    </ng-template>
                </tag-input-dropdown>
            </tag-input>
    </div>
    
</div>
